name = "10xdevs-sport-gear"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"

[build.upload]
format = "modules"

[[build.upload.rules]]
type = "ESModule"
globs = ["dist/_worker.js"]

[assets]
directory = "dist"
binding = "ASSETS"
