---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navigation/Navbar";
import DashboardContainer from "../components/dashboard/DashboardContainer";

// userId is guaranteed to be set by middleware for protected routes
const userId = Astro.locals.userId as string;

const url = new URL(Astro.request.url);
const locationId = url.searchParams.get("location_id") || undefined;
---

<Layout title="Dashboard - CycleGear" showHeader={false}>
  <Navbar client:load userId={userId} />
  <main class="min-h-screen bg-gray-50 pb-20 md:pb-0">
    <DashboardContainer
      client:load
      userId={userId}
      initialLocationId={locationId}
    />
  </main>
</Layout>
